<br/>
<% for(var i=0;i<products.length;i++) {%>
    <br/>
    <div class="container bcontent">
        <div class="card" style="width: 95%;">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <img class="card-img" src="./images/tech1.jpg" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-2">
                    <div class="card-body">
                        <h5 class="card-title">Suresh Dasari</h5>
                        <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                        <a href="#" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <br/>
      <hr/>
      
  <% } %>


